
$size: 25px;
$weight: 400;
$white: #ffffff;
$black: #000000;
$greenLeft: #63d1bb;
$greenLeftHover:#59d5bc;
$greenRight: #56c3b2;
$greenRightHover:#46c1ae;
$darkGray: #444444;
$lightGray: #f1f1f1;
$frameMenu: #ececec;
$size: font-size;
$weig: font-weight;


