.arrow-left, .arrow-leftDown, .arrow-leftHover, .arrow-right, .arrow-rightDown, .arrow-rightHover, .cart, .cartDown, .cartHover, .copyright, .copyrightDown, .copyrightHover, .fb, .fbDown, .fbHover, .feature1-flower, .feature2-money, .feature3-heart, .feature4-ball, .feature5-rocket, .feature6-gift, .flag, .insta, .instaDown, .instaHover, .interior, .logo-desktop, .logo-footer, .logo-footerDown, .logo-footerHover, .logo-mobile, .logo-tablet, .map-pin, .menu-close, .menu-ham, .phone, .phoneH-A, .play, .playDown, .playHover, .search, .searchDown, .searchHover, .toy, .twitter, .twitterDown, .twitterHover, .video{
	background: url(sprites.png) no-repeat;
}

.arrow-left{
	background-position: -225px -109px ;
	width: 51px;
	height: 26px;
}

.arrow-leftDown{
	background-position: -226px -211px ;
	width: 50px;
	height: 26px;
}

.arrow-leftHover{
	background-position: -226px -159px ;
	width: 50px;
	height: 26px;
}

.arrow-right{
	background-position: -321px -108px ;
	width: 51px;
	height: 26px;
}

.arrow-rightDown{
	background-position: -319px -209px ;
	width: 50px;
	height: 26px;
}

.arrow-rightHover{
	background-position: -320px -157px ;
	width: 50px;
	height: 26px;
}

.cart{
	background-position: -16px -214px ;
	width: 21px;
	height: 18px;
}

.cartDown{
	background-position: -114px -215px ;
	width: 21px;
	height: 18px;
}

.cartHover{
	background-position: -65px -215px ;
	width: 21px;
	height: 18px;
}

.copyright{
	background-position: -14px -158px ;
	width: 27px;
	height: 34px;
}

.copyrightDown{
	background-position: -108px -159px ;
	width: 27px;
	height: 34px;
}

.copyrightHover{
	background-position: -61px -160px ;
	width: 27px;
	height: 34px;
}

.fb{
	background-position: -17px -110px ;
	width: 15px;
	height: 29px;
}

.fbDown{
	background-position: -114px -111px ;
	width: 15px;
	height: 28px;
}

.fbHover{
	background-position: -64px -110px ;
	width: 15px;
	height: 28px;
}

.feature1-flower{
	background-position: -157px -7px ;
	width: 33px;
	height: 38px;
}

.feature2-money{
	background-position: -151px -58px ;
	width: 47px;
	height: 27px;
}

.feature3-heart{
	background-position: -157px -109px ;
	width: 34px;
	height: 27px;
}

.feature4-ball{
	background-position: -155px -156px ;
	width: 35px;
	height: 34px;
}

.feature5-rocket{
	background-position: -152px -212px ;
	width: 55px;
	height: 23px;
}

.feature6-gift{
	background-position: -157px -255px ;
	width: 33px;
	height: 32px;
}

.flag{
	background-position: -405px -113px ;
	width: 47px;
	height: 81px;
}

.insta{
	background-position: -15px -61px ;
	width: 22px;
	height: 21px;
}

.instaDown{
	background-position: -115px -61px ;
	width: 22px;
	height: 21px;
}

.instaHover{
	background-position: -63px -62px ;
	width: 22px;
	height: 21px;
}

.interior{
	background-position: -226px -12px ;
	width: 41px;
	height: 62px;
}

.logo-desktop{
	background-position: -579px -9px ;
	width: 149px;
	height: 72px;
}

.logo-footer{
	background-position: -603px -88px ;
	width: 102px;
	height: 34px;
}

.logo-footerDown{
	background-position: -600px -173px ;
	width: 102px;
	height: 34px;
}

.logo-footerHover{
	background-position: -600px -132px ;
	width: 102px;
	height: 34px;
}

.logo-mobile{
	background-position: -457px -8px ;
	width: 86px;
	height: 35px;
}

.logo-tablet{
	background-position: -453px -56px ;
	width: 113px;
	height: 46px;
}

.map-pin{
	background-position: -477px -119px ;
	width: 67px;
	height: 100px;
}

.menu-close{
	background-position: -416px -61px ;
	width: 21px;
	height: 20px;
}

.menu-ham{
	background-position: -415px -18px ;
	width: 20px;
	height: 14px;
}

.phone{
	background-position: -212px -263px ;
	width: 25px;
	height: 24px;
}

.phoneH-A{
	background-position: -264px -263px ;
	width: 25px;
	height: 24px;
}

.play{
	background-position: -739px -11px ;
	width: 102px;
	height: 78px;
}

.playDown{
	background-position: -745px -197px ;
	width: 81px;
	height: 62px;
}

.playHover{
	background-position: -719px -93px ;
	width: 121px;
	height: 92px;
}

.search{
	background-position: -16px -261px ;
	width: 18px;
	height: 19px;
}

.searchDown{
	background-position: -114px -259px ;
	width: 18px;
	height: 18px;
}

.searchHover{
	background-position: -62px -260px ;
	width: 18px;
	height: 18px;
}

.toy{
	background-position: -315px -12px ;
	width: 61px;
	height: 61px;
}

.twitter{
	background-position: -14px -14px ;
	width: 24px;
	height: 20px;
}

.twitterDown{
	background-position: -111px -14px ;
	width: 23px;
	height: 20px;
}

.twitterHover{
	background-position: -61px -15px ;
	width: 23px;
	height: 20px;
}

.video{
	background-position: -314px -263px ;
	width: 32px;
	height: 22px;
}
.bg-mail {
  width:  32px;
  height: 21px;
  background: url ('css_sprites.png') -10px -10px;

}

